PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/veriapis

CASHFREE_BASE_URL=https://sandbox.cashfree.com/verification
CASHFREE_CLIENT_ID=your_client_id
CASHFREE_CLIENT_SECRET=your_client_secret
CASHFREE_API_VERSION=2023-08-01
